body {
    font-family: "Lato", sans-serif;
    background: #FFE9F2;
    width: 100vw;
    height: 100%;
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F9FC;
    overflow-x: hidden;
    padding-top: 500px;
    padding-right: 50px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover {
    color: #FF9DC0;
  }
  
  .main {
    margin-left: 350px;
    font-size: 28px;
    padding: 0px 10px;
  }
  
  .text {
    font-size: 30px;
    margin-top: 350px;
    margin-left: 600px;
  }

  .profpic {
    margin-top: 300px;
    margin-right: 200px;
    position: absolute;
    width: auto;
    height: 400px;
    transform: translate(300%, -175%)
  }

  .main-pro {
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(25%, 90%)    
  }

  .skills {
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(-15%, 50%)     
  }
 
  .skills-title {
    font-size: 50px;
    transform: translate(64%, -100%)  
  }

  .education {
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(-15%, 50%)     
  }
  
  .education-title {
    font-size: 50px;
    transform: translate(70%, -100%)      
  }

  .tanggal1 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .s1 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .tanggal2 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .s2 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .tanggal3 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .s3 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .tanggal4 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .s4 {
    font-size: 24px;
    transform: translate(-13%, 900%)   
  }

  .contact {
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: 800px;
    height: auto;
    transform: translate(0%, 200%)       
  }

  .experience {
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: 800px;
    height: auto;
    transform: translate(0%, 200%)       
  }

  .experience-title {
    font-size: 50px;
    transform: translate(25%, -100%)      
  }

  .col-1 {
    font-size: 20px;
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(0%, 100%)  
  }

  .col-2 {
    font-size: 20px;
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(140%, 100%)  
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }