body {
    font-family: "Lato", sans-serif;
    background: #FFE9F2;
    width: 100vw;
    height: 100%;
  }
  
  .sidenav {
    height: 100vh;
    z-index: 1;
    background-color: #F4F9FC;
    overflow-x: hidden;
    padding-top: 50vh;
    padding-left: 50px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover {
    color: #FF9DC0;
  }
  
  .main {
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-size: 28px;
    padding-top: 100px 
  }
  
  .text {
    font-size: 30px;
    margin-top: 30px;
  }

  .profpic {
    margin-top: 100px;
    margin: 0 auto;
  }

  .main-pro {
    margin-top: 100px;
    margin: 40vh auto;
    padding-left: 20vw; 
  }

  .skills {
    padding: 100px 10px 10px 10px;   
  }
 
  .skills-title {
    font-size: 50px;
    margin-bottom: 100px;
  }

  .education {
    margin-top: 100px;
    margin-left: 500px;
    width: auto;
    height: 100px;   
  }
  
  .education-title {
    font-size: 45px;
  }

  .tanggal1 {
    font-size: 24px;
    
  }

  .s1 {
    font-size: 24px;
  }

  .tanggal2 {
    font-size: 24px;
  }

  .s2 {
    font-size: 24px;
  }

  .tanggal3 {
    font-size: 24px;
  }

  .s3 {
    font-size: 24px; 
  }

  .tanggal4 {
    font-size: 24px; 
  }

  .s4 {
    font-size: 24px;
  }

  .contact {
    margin-top: 200px;
    margin: 50vh auto;
    padding-left: 20vw; 
  }

  .experience {
    margin-top: 100px;
    margin-left: 500px;
    width: 800px;
    height: auto;  
  }

  .experience-title {
    font-size: 50px;
    margin-bottom: -20px;  
  }

  .col-1 {
    font-size: 20px;
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(0%, 100%)  
  }

  .col-2 {
    font-size: 20px;
    margin-top: 100px;
    margin-left: 500px;
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(140%, 100%)  
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }