{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
            {% endblock %}  
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" type = "text/css" href= "{% static 'css/story3.css' %}"> 
    </head>
<body>
<div class="row">
    <div class="col-md-3">
            <div class="sidenav">
                    <div align="center">
                      <a href="{% url 'home' %}">Home</a>
                      <a href="{% url 'skills' %}">Skills</a>
                      <a href="{% url 'education' %}">Education</a>
                      <a href="{% url 'experience' %}">Experience</a>
                      <a href="{% url 'project' %}">Project</a>
                      <a href="{% url 'contact' %}">Contact</a>
                      <a href="{% url 'schedule' %}">Schedule</a>                     
                    </div>
            </div>
    </div>
<div class="col-md-8">
        {% block pagecontent %}
        {% endblock %}
</div>
</div>
</body>
</html> 