{% extends 'base.html' %} 
{% load static %}

{% block title %}
Education
{% endblock %}

{% block pagecontent %}
    <div class="education">
        <div class="education-title">/ / E D U C A T I O N . 
        </div>
    </div>
    <div class="konten-edu">
        <div align="right">
        <p class="tanggal1"><strong>2006 - 2012</strong></p>
        <p class="s1">Al - Jabr Islamic Elementary School</p>
        <p class="tanggal2"><strong>2012 - 2015</strong></p>
        <p class="s2">85 State Junior High School </p>
        <p class="tanggal3"><strong>2015 - 2018</strong></p>
        <p class="s3">34 State Senior High School</p>
        <p class="tanggal4"><strong>2018 -</strong></p>
        <p class="s4">Information Systems, University of Indonesia</p>
      </div>
    </div>  
{% endblock %}