{% extends 'base.html' %} 
{% load static %}

{% block title %}
Experience
{% endblock %}

{% block pagecontent %}
    <div class="experience">
            <div class="experience-title">/ / E X P E R I E N C E .</div>  
        </div>
        </div>
        <div class="container">
                        <div class="row">
                          <div class="col-1">
                              <div align="right">
                              <p class="judul1"><strong>MPK SMAN 34 Jakarta</strong></p>
                              <p class="desc1">Vice Head of English Communication</p>
                              <p class="judul2"><strong>Secret Week</strong></p>
                              <p class="desc2">Project Officer</p>
                              <p class="judul3"><strong>High School Celebration 2016</strong></p>
                              <p class="desc3">Vice Treasurer</p>
                              <p class="judul4"><strong>High School Celebration 2017</strong></p>
                              <p class="desc4">Vice Ticketing Coordinator</p>
                              <p class="judul5"><strong>Computer Science 2018 Social Project</strong></p>
                              <p class="desc5">Vice PIC of Fundraising</p>
                              </div>
                          </div>
                          <div class="col-2">
                              <div align="left">
                              <p class="judul6"><strong>DPM Fasilkom UI</strong></p>
                              <p class="desc6">Staff of Public Relations</p>
                              <p class="judul7"><strong>COMPFEST</strong></p>
                              <p class="desc7">Staff of Editorial Marketing</p>
                              <p class="judul8"><strong>House Fasilkom UI 2019</strong></p>
                              <p class="desc8">Vice PIC of Fundraising</p>
                              <p class="judul9"><strong>AIESEC Universitas Indonesia</strong></p>
                              <p class="desc9">Exchange Participant Buddy</p>
                              <p class="judul10"><strong>Wisuda Genap Fasilkom UI 2019</strong></p>
                              <p class="desc10">Liason Officer</p>
                              </div>
                          </div>
                        </div>
                      </div> 
{% endblock %}