{% extends 'base.html' %} 
{% load static %}

{% block title %}
Diva Amelia
{% endblock %}

{% block pagecontent %}
<div class="main">
  <img class="img-responsive profpic" src = "{% static 'img/profpic.png'  %}" style="width: 200px; height: 200px; border-radius: 50%;">
</div>
<div class="text text-center">
    <p><strong>Diva Amelia</strong>im
    is an<br>aspiring programmer &amp;<br>a part-time writer.</p>
</div>
{% endblock %}