{% extends 'base.html' %} 
{% load static %}

{% block title %}
Skills
{% endblock %}

{% block pagecontent %}
    <div class="skills">
            <div class="skills-title">
                <p align= right>
                    / / S K I L L S .
                </p>
            </div>  
            <img class="img-responsive"  src = "{% static 'img/skillz.png' %}">
    </div>
    </div>
{% endblock %}