{% extends 'base.html' %} 
{% load static %}

{% block title %}
Schedule
{% endblock %}

{% block pagecontent %}
    <div class="row">
        {% for schedule in schedules %}
        <div class="col-sm-4 text-left">
            <h6>{{ schedule.name }}</h6>
            <p>{{ schedule.date.date }}</p>
            <p>{{ schedule.time}}</p>
            <p>{{ schedule.activity}}</p>
            <p>{{ schedule.place }}</p>
            <p>{{ schedule.category }}</p>
            <div class = 'form-group'>
                    <form action="/schedule/clear/{{ schedule.id }}/" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
            </div>
        </div>
        {% endfor %}
        </div>
    <div class = 'col-md-12'>
                <a href="create/"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>

    </div>

{% endblock %}